.navigation{    
    width: 150px;
    float: left;
    display: inline;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

#central-container{
    width: 500;
    float: left;
    margin: 0;
    padding: 0;
    display: inline;     
  }